# Python
####################
**/__pycache__
*.pyc


# Jupyter
####################
**/.ipynb_checkpoints
*-checkpoint.ipynb


# Packaging
####################
/build
!docker/build
dist
*.egg-info


# Documentation
####################
docs/build
*.rst


# Logs & Databases
####################
data/input/images
data/output
*.log


# Dev Tools
####################
.git
.mypy_cache
.vscode


# Env Variables
####################
